import { Link } from "react-router-dom";

export default function NotFound() {
  return (
    <div className="not-found-page">
      <h1>抱歉，您访问的页面不存在.</h1>
      <Link to="/">返回到首页.</Link>
    </div>
  );
}
