import { Button } from "antd";
import { Link } from "react-router-dom";

const DataTable = () => {
  return (
    <>
       {{appName}} DataTable
      <Button>
        <Link to={"/"}>跳转到首页</Link>
      </Button>
    </>
  );
};

export default DataTable;
